*.retry
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt
**/.ssh/id_*
**/.ssh/*_id_*
**/.terraform/*
**/.ssh/known_hosts
my_sshkey*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
.terraform.*
terraform.rc
